/* Body */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;


/* Header */
.logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
}

.logo_studio {
    color: #2E2F42;
}

.link {
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.page-nav .link:hover,
.page-nav .link:focus {
    color: #404bbf;
}

.address {
    font-style: normal
}

.address_contakt {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.address .address_contakt:hover,
.address .address_contakt:focus {
    color: #404bbf;
}
}